.A {
	position: absolute; 
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	border: 1px solid red;
	background-color: yellow;
	width: 300px; 
	height: 100px;
	padding: 20px;
	text-align:center;
}

.B {
	position: absolute; 
	overflow: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;
	margin-left: 200px;
	border: 1px solid blue;
	background-color: white;
	width: 300px; 
	height: 100px;
	padding: 20px;
	text-align:center;
}